@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box; /* paddiing or border does not affect width */
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #c7dbe6;
}

.game-container{
    display: flex; /* center everything with flexbox & displays in a row */
    flex-direction: column; /* changes to column */
    align-items: center;  /* center horisontally */
    justify-content: center;    /* center it vertically */
    height: 100vh;
    overflow: hidden; /* no scroll bars showed */  
}

h1{
    color: blue;
}

/*table configuration*/
td {
	border:  3px solid blue;
	height:  80px;
	width:  80px;
	text-align:  center;
    background-color: #fff;
	font-size:  50px;
}

/*Game button style*/
.button {
  background-color: blue;
  cursor: pointer;
  border: 0;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding: 15px;

}

button:hover {
  color: #99ec91;
}

.rowo{
    border-top: 0;
}