@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box; /* paddiing or border does not affect width */
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex; /* center everything with flexbox & displays in a row */
    flex-direction: column; /* changes to column */
    align-items: center;  /* center horisontally */
    justify-content: center;    /* center it vertically */
    height: 100vh;
    overflow: hidden; /* no scroll bars showed */  
    margin: 0;
}

h1{
    color: blue;
}

/*table configuration*/
td {
	border:  3px solid blue;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-size:  73px;
}
table {
    position: absolute;
    left: 50%;
	top: 100px;
    margin-left: -195px;
}

/*Game button style*/
.button {
  background-color: blue;
  border-radius: 15px;
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-top: 440px;
}

button:hover {
  background-color: orange;
  color: blue;
}